* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --action-color: #8d48cd;
}

body {
    background-color: #0b0610;
    color: #ffffff;
}

.main-content {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ffffff;
    border-radius: 1rem;
}

@media (min-width: 768px) { 
    .main-content {
        max-width: 992px;
        margin: 1rem auto;
    }
}